<main id="content">
  <div class="content-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
           <!-- Post Author Alpha Molecule-->
          <app-post-author-alpha></app-post-author-alpha>
          <h4 class="spanborder">
            <span>Latest Posts</span>
          </h4>
          
          <!-- Latest Post -->
          <app-post-alpha></app-post-alpha>

          <ul class="page-numbers heading">
            <li><span aria-current="page" class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="#">2</a></li>
            <li><a class="page-numbers" href="#">3</a></li>
            <li><a class="page-numbers" href="#">4</a></li>
            <li><a class="page-numbers" href="#">5</a></li>
            <li><a class="page-numbers" href="#">...</a></li>
            <li><a class="page-numbers" href="#">98</a></li>
            <li><a class="next page-numbers" href="#"><i class="icon-right-open-big"></i></a></li>
          </ul>

        </div>
        <!--col-md-8-->
        <div class="col-md-4 pl-md-5 sticky-sidebar">
          <div class="sidebar-widget latest-tpl-4">
            <h5 class="spanborder widget-title">
              <span>Hightlight posts</span>
            </h5>
           <!-- Add popular molecule-->
            <app-culture-alpha></app-culture-alpha>
          </div>
        </div>
        <!--col-md-4-->
      </div>
    </div>
    <!--content-widget-->
  </div>

   <!-- Ads Section -->
   <app-ads></app-ads>
  <!--content-widget-->
</main>
