<main id="content" *ngIf="author">
  <div class="content-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Post Author Alpha Molecule-->
          <app-post-author-alpha [author]="author"></app-post-author-alpha>
          <h2 class="spanborder h4">
            <span>{{"Latest Posts" | translate}}</span>
          </h2>
          <app-most-recent [posts]="posts"></app-most-recent>
        </div>
        <!--col-md-8-->
        <div class="col-md-4 pl-md-5 sticky-sidebar">
          <div class="sidebar-widget latest-tpl-4">
            <h5 class="spanborder widget-title">
              <span>{{"Hightlight posts" | translate}}</span>
            </h5>
            <!-- Add popular molecule-->
            <app-culture-alpha [posts]="posts"></app-culture-alpha>
          </div>
        </div>
        <!--col-md-4-->
      </div>
    </div>
    <!--content-widget-->
  </div>

  <!-- Ads Section -->
  <app-ads [itemAd]="[]"></app-ads>
  <!--content-widget-->
</main>
