<app-header></app-header>
<app-banner></app-banner>
<app-feature-left
  img="assets/images/featured/1.png"
  title="Wohlbefinden"
  descOne="Körperliches und geistiges Wohlergehen bilden die Grundpfeiler für ein glückliches, erfülltes und abenteuerreiches Leben. Hier findest Du die wichtigsten Fakten rund um die Themen gesunde Ernährung, Meal Prep, Gewichtsmanagement und Nahrungsergänzungsmittel."
  descTwo="Hier findest Du die wichtigsten Fakten rund um die Themen gesunde Ernährung, Meal Prep, Gewichtsmanagement und Nahrungsergänzungsmittel."
></app-feature-left>
<app-feature-right
  img="assets/images/featured/2.png"
  title="Schlaf"
  descOne="Der Körper benötigt ausreichend erholsamen Schlaf, um optimal zu funktionieren und gesund zu bleiben. Doch nicht nur das - der Schlaf und besonders die Träume sind auch unglaublich faszinierend."
  descTwo="Entdecke unsere spannenden Artikel zu den Themen Schlafwissenschaft, Einschlafroutinen, Träume und Schlafstörungen."
></app-feature-right>
<app-feature-left
  img="assets/images/featured/3.png"
  title="Mentale Gesundheit"
  descOne="Die mentale Gesundheit ist ein wichtiger Baustein für ein zufriedenes Leben. Gerade in der heutigen Zeit sind wir Menschen einem enormen sozialen Druck ausgesetzt."
  descTwo="Wir haben zahlreiche Artikel über das geistige Wohlbefinden von Jugendlichen, (werdenden) Eltern, Selbstliebe und Therapie für Dich zusammengestellt."
></app-feature-left>
<app-feature-right
  img="assets/images/featured/4.png"
  title="Energie und Leistungsfähigkeit"
  descOne="Um große Ziele zu erreichen, braucht man eine Menge Energie! Je wacher, energiegeladener und leistungsfähiger wir sind, desto mehr können wir an jedem einzelnen Tag erreichen."
  descTwo="In dieser Rubrik erfährst Du alles über Motivation, Bewegung, Sport und die richtige Erholung."
></app-feature-right>
<app-feature-left
  img="assets/images/featured/5.png"
  title="Gesundheitszustand"
  descOne="Das Leben hält allerlei Herausforderungen für uns bereit. Verschiedene gesundheitliche Probleme können uns komplett aus der Bahn werfen und unseren Alltag auf den Kopf stellen."
  descTwo="Hier kannst Du Dich über zahlreiche Krankheiten und Gesundheitsproblematiken informieren."
></app-feature-left>
<app-feature-right
  img="assets/images/featured/6.png"
  title="Medikamente"
  descOne="Manchmal braucht der Körper zum Gesundwerden etwas Unterstützung. Daher gibt es eine Fülle unterschiedlicher Medikamente für verschiedene Zwecke."
  descTwo="Wir haben übersichtliche Artikel zu einer Vielzahl an Medikamenten für Dich zusammengestellt."
></app-feature-right>
<app-feature-left
  img="assets/images/featured/7.png"
  title="Diagnose"
  descOne="Die moderne Medizintechnik bietet eine Fülle komplexer Diagnoseverfahren. Diese liefern nicht nur exakte Ergebnisse, sondern basieren meist auf faszinierenden technischen Errungenschaften."
  descTwo="Entdecke die vielfältigen Möglichkeiten zur Diagnose von Krankheiten, die im Ernstfall Leben retten können."
></app-feature-left>
<app-promo-section></app-promo-section>
<app-newsletter></app-newsletter>
<app-post-item-lists></app-post-item-lists>
<app-footer></app-footer>
