<main id="content">
  <div class="section-featured featured-style-1">
    <app-editors-picks [editorPicksArr]="editorArr" [trendingArr]="cultureArr" [editorPickAddress]="editorPick" [editor]="editorData"></app-editors-picks>
  </div>
  <!--section-featured-->
    <app-content-widget [widget]="widgetData" [editorPickAddress]="editorPick"></app-content-widget>
  <!--content-widget-->
    <app-content-ad [contentAdArr]="postArr"></app-content-ad>
  <!--content-widget-->
  <div class="content-widget">
    <app-most-recent [recentArr]="recentArray" [popularArr]="cultureArr"></app-most-recent>
  </div>
    <!--content-widget-->
  <!-- Ads Section -->
  <app-ads [itemAd] = "Ad"></app-ads>
  <!--content-widget-->
</main>
