<div nz-row>
  <div nz-col nzSpan="20">

  </div>
  <div nz-col nzSpan="4">
    <button *ngIf="this.isUpdate" (click)="remove()" nz-button nzType="dashed" nzDanger>Delete</button>
    <button *ngIf="!this.isUpdate" (click)="create()" nz-button nzType="primary" class="pull-right">Create</button>
    <button *ngIf="this.isUpdate" (click)="update()" nz-button nzType="primary" class="pull-right">Update</button>
  </div>
</div>

<app-image-gallery [isVisible]="metaGalleryStatus"></app-image-gallery>

<nz-tabset nzType="card" nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'content' }" queryParamsHandling="merge">
      Content
      <nz-badge nzDot></nz-badge>
    </a>
    <input class="title" nz-input placeholder="Title" nzSize="large" [(ngModel)]="post.title" />
    <div id="editorjs"></div>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'meta' }" queryParamsHandling="merge">
      Meta
    </a>
    
    <input class="title" nz-input placeholder="Description" nzSize="large" [(ngModel)]="meta.description" />
    <input class="title" nz-input placeholder="Url" nzSize="large" [(ngModel)]="meta.url" />
    <button (click)="metaGalleryStatus = true"> Gallery </button>
    <input class="title" nz-input placeholder="Title" nzSize="large" [(ngModel)]="meta.title" [value]="getMetaTitle()" />
  </nz-tab>
</nz-tabset>


