.featured-section-left {
    position: relative;
    z-index: 1;
    .featured-thumbnail {
        margin-bottom: 50px;
    }
    .featured-content {
        h2 {
            font-size: 30px;
            word-break: break-all;
        }
        p {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 991px) {

}