<section class="featured-section-left">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="featured-thumbnail">
          <img class="img-fluid" [src]="img" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="featured-content">
          <h2>{{ title }}</h2>
          <p>
            {{ descOne }}
          </p>
          <p>
            {{ descTwo }}
          </p>
          <a href="#" class="primary-btn">Explore Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
