<div class="sidebar">
  <app-advertise></app-advertise>
  <div class="related-blogs">
    <h4>Related Blogs</h4>
    <div class="single-related">
      <div class="related-thumb">
        <img src="assets/images/blog-cta.png" alt="" />
      </div>
      <div class="related-content">
        <h4>What we are doing for you well</h4>
        <a href="">Read More</a>
      </div>
    </div>
    <div class="single-related">
      <div class="related-thumb">
        <img src="assets/images/blog-cta.png" alt="" />
      </div>
      <div class="related-content">
        <h4>What we are doing for you well</h4>
        <a href="">Read More</a>
      </div>
    </div>
    <div class="single-related">
      <div class="related-thumb">
        <img src="assets/images/blog-cta.png" alt="" />
      </div>
      <div class="related-content">
        <h4>What we are doing for you well</h4>
        <a href="">Read More</a>
      </div>
    </div>
  </div>
  <app-advertise></app-advertise>
</div>
