.banner-section {
    position: relative;
    z-index: 1;
    padding: 130px 0;
    background: url(/assets/images/bg/banner-bg-mobile.png) bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    .pattern {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .banner-content {
        margin-bottom: 60px;
        h1 {
            font-size: 36px;
        }
    }
    
}



