.banner-section {
    position: relative;
    z-index: 1;
    padding: 130px 0;
    background: url(/assets/images/bg/banner-bg-mobile.png) bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @media(min-width: 992px) {
        padding: 150px 0 200px;
    }
    @media(min-width: 1200px) {
        background: url(/assets/images/bg/banner-bg.png) bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0 300px;
    }
    @media(min-width: 1400px) {
        padding: 200px 0 400px;
    }
    .grid {
        @media(min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            align-items: center;
        }
    }
    .pattern {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .banner-content {
        margin-bottom: 60px;
        h1 {
            font-size: 36px;
            @media(min-width: 1400px) {
                font-size: 65px;
                line-height: 1.3;
            }
        }
    }
    
}



