/* Start Header area style
============================================================================================ */
.header-area {
    position: absolute;
    z-index: 999;
    transition: .3s;
    background: transparent;
    width: 100%;
    padding: 15px 0;
    top: 0;
    @media(min-width: 1200px) {
        padding: 30px 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.custom-container{
            max-width: 100%;
            @media(min-width: 1880px) {
                max-width: 1815px;
            }
        }
    }
    .navbar {
        background: transparent;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .navbar-brand {
            display: block;
            transition: .3s;
            margin-right: 70px;
            img {
                max-width: 150px;
            }
        }
        .navbar-toggler[aria-expanded=true] span:nth-child(2) {
            width: 20px;
        }
        .navbar-toggler {
            border: none;
            border-radius: 0px;
            padding: 0px;
            cursor: pointer;
            background: #fff;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
            @media(min-width: 1200px) {
                display: none;
            }
            span {
                display: block;
                width: 15px;
                height: 3px;
                background: #00072D;
                margin: auto;
                margin-bottom: 4px;
                transition: all 400ms linear;
                cursor: pointer;
                border-radius: 100px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .navbar-toggler span:nth-child(2) {
            width: 20px;
        }
        .navbar-toggler.active span:nth-child(2) {
            opacity: 0;
        }
        .navbar-toggler.active span:first-child {
            transform: rotate(-45deg);
            position: relative;
            top: 7.5px;
        }
        .navbar-toggler.active span:last-child {
            transform: rotate(45deg);
            bottom: 7px;
            position: relative;
        }
        .navbar-collapse {
            display: none;
            @media(min-width: 1200px) {
                display: block;
            }
            .navbar-nav {
                display: flex;
                .nav-item {
                    margin-right: 50px;
                    a {
                        position: relative;
                        font-size: 20px;
                        color: #004848;
                        padding: 0px;
                        transition: .3s;
                        z-index: 1;
                        line-height: 40px;
                    }
                }
                .nav-item:hover>a, .nav-item.active a {
                    color: #EEB55B;
                    border-color: #EEB55B;
                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        
    }
}

.offcanvas-wraper {
    position: fixed;
    width: 300px;
    background: #fff;
    height: 100%;
    top: 0;
    padding-top: 90px;
    z-index: 99;
    left: -300px;
    transition: .3s;
    @media(min-width: 1200px) {
        display: none;
    }
    &.active {
        left: 0;
    }
    .offcanvas-menu {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            a {
                color: #004848;
                transition: .3s;
                &:hover {
                    color: #EEB55B;
                }
            }
        }
    }
}