<!--start navigation area-->
<header class="header-area" id="header_area">
  <nav class="navbar navbar-expand-xl">
    <div class="container custom-container">
      <a class="navbar-brand" routerLink="/"
        ><img src="assets/images/logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main_nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Well-being</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#progress">Sleep</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#roadmap">Mental Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#community">Community</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--end navigation area-->

<!-- start offcanvas menu  -->
<div class="offcanvas-wraper">
  <div class="container">
    <ul class="offcanvas-menu navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#progress">Tokenomics</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#roadmap">Roadmap</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#nft">NFT Collection</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
    </ul>
  </div>
</div>
<!-- end offcanvas menu  -->
