<footer class="mt-5">
  <div class="container">
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-4 copyright text-xs-center">
        <p>Copyright &copy; 2022 Liezeit</p>
      </div>
      <div class="col-md-4 copyright text-center footer-logo">
        <img src="/assets/images/logo.svg" alt="">
      </div>
      <div class="col-md-4 copyright text-center footer-logo">
        <ul class="inline text-md-right text-sm-center">
          <li class="list-inline-item">
            <a href="#">
              Privacy
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              Advertise With Us
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              Contact
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              Careers
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-md-6">
        <ul class="social-network inline text-md-right text-sm-center">
          <li class="list-inline-item"><a href="#"><i class="icon-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="icon-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="icon-behance"></i></a></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>
