<div class="sidebar">
  <app-advertise></app-advertise>
  <div class="related-questions">
    <h4>Related Questions</h4>
    <div class="question-item">
      <h4>Was ist Multipler Sklerose?</h4>
      <a href="">Answer</a>
    </div>
    <div class="question-item">
      <h4>Was sind die Ursachen für Multipler Sklerose?</h4>
      <a href="">Answer</a>
    </div>
    <div class="question-item">
      <h4>Wie wird Multipler Sklerose diagnostiziert?</h4>
      <a href="">Answer</a>
    </div>
    <div class="question-item">
      <h4>Welche Arten von Multipler Sklerose gibt es?</h4>
      <a href="">Answer</a>
    </div>
    <div class="question-item">
      <h4>Ist Multipler Sklerose eine tödliche Krankheit?</h4>
      <a href="">Answer</a>
    </div>
  </div>
  <app-advertise></app-advertise>
</div>
