<footer>
  <div class="footer-newsletter-section">
    <div class="container">
      <div class="newsletter-footer">
        <h2>Subscribe our newsletter</h2>
        <p>
          Unser Newsletter informiert Dich regelmäßig über die neuesten
          Erkenntnisse rund um das Thema Gesundheit und Wohlbefinden.
        </p>
        <form action="">
          <input type="email" placeholder="Your Email" class="form-control" />
          <input class="primary-btn" type="Subscribe" type="submit" />
        </form>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="container">
      <div class="main-footer-content">
        <ul class="social-media">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
        <ul>
          <li><a href="">Well-being</a></li>
          <li><a href="">Sleep</a></li>
          <li><a href="">Mental Health</a></li>
          <li><a href="">Boost Energy</a></li>
          <li><a href="">Health Condition</a></li>
          <li><a href="">Drugs</a></li>
          <li><a href="">Subscribe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="footer-copyright">
        &copy; 2022 Dailypartner. - All Right Reserved.
      </div>
    </div>
    <div class="col-xl-6 text-end">
      <div class="footer-privacy-policy">
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Privacy Settings</a></li>
          <li><a href="">Advertising Policy</a></li>
          <li><a href="">Health Topics</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
