<section class="promo-section">
  <div class="container">
    <div class="grid grid-col-2">
      <div class="promo-thumb">
        <img class="img-fluid" src="assets/images/promo-thumb.png" alt="" />
      </div>

      <div class="promo-content">
        <h2 class="gothic-font">What we are doing for you</h2>
        <p>
          Für uns hat es oberste Priorität, Dich umfassend, präzise und
          wahrheitsgemäß über Gesundheitsthemen zu informieren. Deshalb achten
          wir bei der Kreation unserer Artikel auf folgende Faktoren:
        </p>
        <ul>
          <li>
            <img class="img-fluid" src="assets/images/bullet.png" alt="" />
            Exakte Recherche steht im Mittelpunkt unserer Arbeit. Alle Artikel
            werden daher genaustens auf ihre Richtigkeit überprüft.
          </li>
          <li>
            <img class="img-fluid" src="assets/images/bullet.png" alt="" />
            Wir überarbeiten unsere Texte regelmäßig, damit sie immer auf dem
            neuesten Stand der Wissenschaft bleiben.
          </li>
          <li>
            <img class="img-fluid" src="assets/images/bullet.png" alt="" />
            Alle von uns empfohlenen Produkte haben wir sorgfältig untersucht
            und nach ihrem gesundheitlichen Wert beurteilt.
          </li>
        </ul>

        <p>
          Unser Ziel ist es, umfangreiches Wissen über die menschliche
          Gesundheit zu vermitteln. Dabei legen wir besonderen Wert auf ein
          breit gefächertes Informationsspektrum, damit Du Dir Deine eigene
          Meinung bilden kannst.
        </p>
      </div>
    </div>
  </div>
</section>
