.promo-section {
    padding: 80px 0;
    @media(min-width: 1440px) {
        padding: 120px 0 0;
    }
    .grid {
        @media(min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
    .promo-thumb {
        margin-bottom: 50px;
    }
    .promo-content {
        h2 {
            font-size: 30px;
            @media(min-width: 1400px) {
                font-size: 50px;
                line-height: 1.1;
            }
        }
        p {
            margin-bottom: 30px;
        }
        ul {
            li {
                position: relative;
                z-index: 1;
                box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.08);
                border-radius: 10px;
                margin-bottom: 30px;
                padding: 10px 30px 10px 35px;
                font-size: 16px;
                @media(min-width: 1400px) {
                    font-size: 20px;
                }
                img {
                    position: absolute;
                    left: 10px;
                    top: 15px;
                }
            }
        }
    }
}