.post-items-section {
    padding: 80px 0 40px;
    .post-items-title {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            @media(min-width: 1400px) {
                font-size: 50px;
            }
        }
    }
    .grid {
        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        @media(min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}