<section class="newsletter-section">
  <div class="container">
    <div class="grid">
      <div class="newsletter-content">
        <h2 class="gothic-font">Subscribe our newsletter</h2>
        <p>
          Mit unserem Newsletter erhältst Du regelmäßig spannenden Content zu
          Themen wie Gesundheit, Wohlbefinden und Ernährung.
        </p>
        <form action="">
          <div class="form-group">
            <input type="text" placeholder="Your Email" class="form-control" />
            <button class="primary-btn" type="submit">Subscribe</button>
          </div>
        </form>
      </div>

      <div class="newsletter-thumb">
        <img src="assets/images/newsletter-thumb.png" alt="" />
      </div>
    </div>
  </div>
</section>
