<div class="content-widget">
    <div class="container">
      <div class="row justify-content-between post-has-bg ml-0 mr-0">
        <div class="col-lg-6 col-md-8">
          <div class="pt-5 pb-5 pl-md-5 pr-5 align-self-center">
            <div class="capsSubtle mb-2">{{widget.category}}</div>
            <h2 class="entry-title mb-3"><a href="single">{{widget.title}}</a></h2>
            <div class="entry-excerpt">
              <p>{{widget.desc}}</p>
            </div>
            <!-- Add date-address-alpha -->
            <app-date-address-alpha [item]="editorPickAddress"></app-date-address-alpha>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 bgcover d-none d-md-block pl-md-0 ml-0"
        [style]="widget.img"></div>
      </div>
      <div class="divider"></div>
    </div>
  </div>