<main id="content">
  <div class="content-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="spanborder">
            <span>{{"Culture" | translate}}</span>
          </h4>
          <article class="first mb-3">
            <figure>
              <a href="/single"
                ><img
                  src="http://via.placeholder.com/1400x992"
                  alt="post-title"
              /></a>
            </figure>
            <h1 class="entry-title mb-3">
              <a href="/single"
                >Home Internet Is Becoming a Luxury for the Wealthy</a
              >
            </h1>
            <div class="entry-excerpt">
              <p>
                And black on meretriciously regardless well fearless irksomely
                as about hideous wistful bat less oh much and occasional useful
                rat darn jeepers far.
              </p>
            </div>
            
            <!-- Add date-address-alpha -->
            <app-date-address-alpha [item]="dateAddress"></app-date-address-alpha>

          </article>
          <div class="divider"></div>

          <!-- Recent post -->
          <app-post-alpha  [postData]="postArr"></app-post-alpha>

          <ul class="page-numbers heading">
            <li>
              <span aria-current="page" class="page-numbers current">1</span>
            </li>
            <li><a class="page-numbers" href="#">2</a></li>
            <li><a class="page-numbers" href="#">3</a></li>
            <li><a class="page-numbers" href="#">4</a></li>
            <li><a class="page-numbers" href="#">5</a></li>
            <li><a class="page-numbers" href="#">...</a></li>
            <li><a class="page-numbers" href="#">98</a></li>
            <li>
              <a class="next page-numbers" href="#"
                ><i class="icon-right-open-big"></i
              ></a>
            </li>
          </ul>
        </div>
        <!--col-md-8-->
        <div class="col-md-4 pl-md-5 sticky-sidebar">
          <div class="sidebar-widget latest-tpl-4">
            <h5 class="spanborder widget-title">
              <span>{{"Popular in Culture" | translate}}</span>
            </h5>
             <!-- Add popular-culture molecule-->
             <app-culture-alpha  [items]="cultureArr"></app-culture-alpha>
          </div>
        </div>
        <!--col-md-4-->
      </div>
    </div>
    <!--content-widget-->
  </div>

  <!-- Ads Section -->
  <app-ads [itemAd] = "Ad"></app-ads>

  <!--content-widget-->
</main>
