<main id="content">
  <div class="content-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="spanborder">
            <span>{{"Culture" | translate}}</span>
          </h4>
          <article class="first mb-3">
            <figure>
              <a href="/single">
                <img src="http://via.placeholder.com/1400x992" alt="post-title" />
              </a>
            </figure>
            <h1 class="entry-title mb-3">
              <a href="/single">Home Internet Is Becoming a Luxury for the Wealthy</a>
            </h1>
            <div class="entry-excerpt">
              <p>
                And black on meretriciously regardless well fearless irksomely
                as about hideous wistful bat less oh much and occasional useful
                rat darn jeepers far.
              </p>
            </div>

            <!-- Add date-address-alpha -->
            <app-entry-meta-alpha [post]="{}"></app-entry-meta-alpha>

          </article>
          <div class="divider"></div>

          <app-most-recent [posts]="posts.slice(1)"></app-most-recent>
        </div>
        <!--col-md-8-->
        <div class="col-md-4 pl-md-5 sticky-sidebar">
          <div class="sidebar-widget latest-tpl-4">
            <h4 class="spanborder">
              <span>{{"Popular" |translate}}</span>
            </h4>
            <!-- Add popular molecule-->
            <app-culture-alpha [posts]="popularInCulturePosts"></app-culture-alpha>
          </div>
        </div>
      </div>
      <!--col-md-4-->
    </div>
  </div>
  <!-- Ads Section -->
  <app-ads [itemAd]=""></app-ads>

  <!--content-widget-->
</main>
