<app-header></app-header>
<app-subpage-banner
  title="Wohlbefinden"
  description="Körperliches und geistiges Wohlergehen bilden die Grundpfeiler für ein glückliches, erfülltes und abenteuerreiches Leben."
  descriptionTwo="Hier findest Du die wichtigsten Fakten rund um die Themen gesunde Ernährung, Meal Prep, Gewichtsmanagement und Nahrungsergänzungsmittel."
  img="assets/images/category-thumbnail.png"
></app-subpage-banner>
<app-post-item-lists></app-post-item-lists>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <span class="loader">Loading...</span>
    </div>
  </div>
</div>
<app-footer></app-footer>
