<h1>Posts</h1>

<div #container>
  <nz-list nzItemLayout="vertical">

  <div nz-row>
    <div nz-col nzSpan="20"></div>
    <div nz-col nzSpan="4">
      <button routerLink="/admin/posts/new" nz-button nzType="primary" class="pull-right">Create New</button>
    </div>
  </div>

  <div *ngFor="let item of data">
    <a routerLink="/admin/posts/{{ item.id }}">
      <nz-list-item class="content">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              {{ item.title }}
            </nz-list-item-meta-title>
            <nz-list-item-meta-description [innerHTML]="getContentText(item)">
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <img width="272" alt="logo" [src]="getMetaImage(item)" />
          </nz-list-item-extra>
      </nz-list-item>
    </a>
  </div>
</nz-list>

</div>