<nz-layout class="app-layout">
  <div *ngIf="isVisible" class="spinner">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>

  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></i>
    </span>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/posts" class="menu-item">Posts</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="picture" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/medias" class="menu-item">Medias</a>
        </span>
      </li>
      <!-- <li nzSelected nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/pages" class="menu-item">Pages</a>
        </span>
      </li> -->
      <!-- <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="barcode" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/products" class="menu-item">Products</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="group" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/categories" class="menu-item">Categories</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/graph" class="menu-item">Graph</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="shopping" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/orders" class="menu-item">Orders</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="message" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/chats" class="menu-item">Chats</a>
        </span>
      </li>
      <li nz-menu-item nzOpen nzIcon="dashboard">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>
          <a routerLink="/admin/clients" class="menu-item">Clients</a>
        </span>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout
    class="right-layout"
    [ngClass]="{
      'right-layout': !isCollapsed,
      'right-layout-full': isCollapsed
    }"
  >
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <app-footer-alpha></app-footer-alpha>
  </nz-layout>
</nz-layout>
